<div
  class="flex flex-wrap row md:flex justify-evenly col md:flex-row flex-col m-3"
>
  <div class="text-center ">
    <div class="flex-col flex flex-wrap mb">
      <div class="text-center">
        <img
          src="../assets/app-love.svg"
          class="w-64 rounded-lg mx-auto md:w-full"
          alt=""
        />
      </div>
      <div class="text-2xl flex-wrap mt-4">
        There's more to love in the app
      </div>
      <div class="mt-3 flex justify-evenly flex-wrap">
        <div>Get the app:</div>
        <div class="hover:text-green-400 font-bold uppercase cursor-pointer">
          Playstore
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="flex-col flex flex-wrap mb-">
      <div class="text-left">
        <img
          src="../assets/resturant-deliver.svg"
          class="w-64 rounded-lg mx-auto md:w-full"
          alt=""
        />
      </div>
      <div class="text-2xl text-center md:text-left flex-wrap mt-4">
        Your restaurant – <br />
        delivered
      </div>
      <div class="mt-3 flex justify-start flex-wrap">
        <div class="text-green-500 text-left tracking-wide font-bold cursor-pointer">
          Add your restaurant
        </div>
      </div>
    </div>
  </div>
  <div class="text-left ">
    <div class="flex-col flex flex-wrap mb-">
      <div class="text-center">
        <img
          src="../assets/deliver-eats.svg"
          class="w-64 rounded-lg mx-auto md:w-full"
          alt=""
        />
      </div>
      <div class="text-2xl text-center md:text-left flex-wrap mt-4">
        Deliver the Eats
      </div>
      <div class="mt-3 flex justify-start flex-wrap">
        <div class="text-green-500 tracking-wide font-bold cursor-pointer">
          Sign up to deliver
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" mb-8 mt-10">
  <hr />
</div>

<div class="flex flex-wrap flex-row row-wrap justify-between mx-auto p-2 md:m-4">
  <div class="text-center">
    <div class="text-2xl">Cities near me</div>
  </div>
  <div class="text-center cursor-pointer text-green-800">
    <div>
      View all 500+ cities
    </div>
  </div>
</div>
