<div>
    <app-navbar></app-navbar>
</div>


<div class="max-w-3xl mx-auto p-8 rounded-lg shadow-lg mt-8">
  <div class="div p-4 rounded-lg border border-black ">
    <div class="mx-auto m-auto">
      <div class="text-3xl text-center text-indigo-600 ">FoodKa</div>
      <div class="text-2xl text-center text-black">Sign in</div>
      <div class="text-xs text-center text-gray-800 ">
        to continue to <b class="p-1 bg-yellow-300">Foodka</b>
      </div>
    </div>

    <mat-horizontal-stepper class="max-w-3xl mt-8 mx-auto m-auto" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field class="width">
            <mat-label>Enter Name</mat-label>
            <input
            type="text"
              matInput
              placeholder="Sounish Nath"
              formControlName="firstCtrl"
              required
            />
            <mat-error
              *ngIf="firstFormGroup.controls['firstCtrl'].errors?.required"
              >Field is empty!</mat-error
            >
            <mat-error
              *ngIf="firstFormGroup.controls['firstCtrl'].errors?.pattern"
              >no special characters!</mat-error
            >
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your email address</ng-template>
          <mat-form-field class="width">
            <mat-label>Email Address</mat-label>
            <input
              class="width"
              matInput
              type="email"
              formControlName="secondCtrl"
              placeholder="foodka@example.com"
              required
            />
            <mat-error
              *ngIf="secondFormGroup.controls['secondCtrl'].errors?.required"
              >Field is empty!</mat-error
            >
            <mat-error
              *ngIf="secondFormGroup.controls['secondCtrl'].errors?.pattern"
              >Email is incorrect!</mat-error
            >
            <!-- <mat-error
            class="mb-2"
              *ngIf="secondFormGroup.controls['secondCtrl'].errors"
              >Type email correctly!</mat-error
            > -->
          </mat-form-field>
          <div class="mt-3">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="mt-4">
          <p>You are now done.</p>
          <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button
            [routerLink]="['/resturants']" routerLinkActive="router-link-active" 
              mat-button
              [disabled]="firstFormGroup.controls['firstCtrl'].errors || secondFormGroup.controls['secondCtrl'].errors  "
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="mt-4 justify-evenly flex flex-wrap mx-auto">
    <div class="rounded-lg mx-auto m-auto hover:bg-yellow-400 transition-colors duration-200 " >
      <div class="p-2 cursor-pointer" >Forget password</div>
    </div>
    <div class="text-indigo-600 mx-auto m-auto cursor-pointer">
      <span class="underline" > <span class="text-black no-underline">New to Foodka?</span> Create an acoount </span>
    </div>
  </div>
</div>
