<h1 mat-dialog-title>Previous Orders 🔥</h1>

<mat-dialog-content>
  <div class="flex flex-col flex-wrap justify-evenly">
    <div
      class="flex m-auto m-2 mb-4 shadow-lg- border border-black p-2 rounded-lg flex-row flex-wrap row-wrap"
    >
      <div class="text-center mr-3 flex flex-col flex-wrap m-auto">
        <div class="text-left m-auto">
          <mat-chip-list>
            <mat-chip class="bg-indigo-600 text-xs p-2">FOODKA50</mat-chip>
          </mat-chip-list>
        </div>
        <div class="text-left">
          <div class="text-xl">Flat 50% off</div>
        </div>
        <div class="text-left text-xs text-gray-700 ">Use Promo Code</div>
        <div
          class="text-center p-1 rounded-lg bg-green-400 text-xs text-white "
        >
          EATSPOP
        </div>
        <div class="text-left mt-2 text-xs">• New Foods</div>
        <div class="text-left text-xs">• Lovely Resturant</div>
        <div class="text-left text-xs">• User Satisfactory</div>
      </div>
      <div class="text-center m-auto">
        <img
          src="../../assets/food1.jpg"
          alt="food1"
          class="h-32 mr-3 rounded-lg "
        />
      </div>
      <div class="text-center m-auto flex flex-col flex-wrap ">
        <div class="text-xl text-left text-indigo-600 font-bold">
          Hotel Platinum
        </div>
        <div class="text-sm text-gray-800 ">
          3 items for ₹ 550 • 20 Jan 08:13 pm
        </div>
        <div class="mt-3">
          <div class="flex flex-row text-xs flex-wrap">
            <div class="flex flex-col justify-evenly mr-3  flex-wrap">
              <div class="bg-gray-100 m-auto ">1</div>
              <div class="bg-gray-100 m-auto ">3</div>
              <div class="bg-gray-100 m-auto ">2</div>
            </div>
            <div class="flex text-left flex-col flex-wrap">
              <div class="m-auto">Veg Sheekh Kabab</div>
              <div class="m-auto">Panner Tikka</div>
              <div class="m-auto">Chicken Manchurian</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center flex flex-col ml-4 cursor-pointer m-auto">
        <div class="p-2 rounded-lg uppercase ">
          <button class="uppercase" color="accent" mat-raised-button>
            Reorder
          </button>
        </div>
      </div>
    </div>
    <div
      class="flex m-auto m-2 mb-4 shadow-lg- border border-black p-2 rounded-lg flex-row flex-wrap row-wrap"
    >
      <div class="text-center mr-3 flex flex-col flex-wrap m-auto">
        <div class="text-left m-auto">
          <mat-chip-list>
            <mat-chip class="bg-indigo-600 text-xs p-2">FOODKA50</mat-chip>
          </mat-chip-list>
        </div>
        <div class="text-left">
          <div class="text-xl">Flat 25% off</div>
        </div>
        <div class="text-left text-xs text-gray-700 ">Use Promo Code</div>
        <div
          class="text-center p-1 rounded-lg bg-green-400 text-xs text-white "
        >
          EATSPOP
        </div>
        <div class="text-left mt-2 text-xs">• New Foods</div>
        <div class="text-left text-xs">• Lovely Resturant</div>
        <div class="text-left text-xs">• User Satisfactory</div>
      </div>
      <div class="text-center m-auto">
        <img
          src="../../assets/food2.jpg"
          alt="food1"
          class="h-32 w-24 mr-3 rounded-lg "
        />
      </div>
      <div class="text-center m-auto flex flex-col flex-wrap ">
        <div class="text-xl text-left text-indigo-600 font-bold">
          Desi Bites
        </div>
        <div class="text-sm text-gray-800 ">
          3 items for ₹ 550 • 20 Jan 08:13 pm
        </div>
        <div class="mt-3">
          <div class="flex flex-row text-xs flex-wrap">
            <div class="flex flex-col justify-evenly mr-3  flex-wrap">
              <div class="bg-gray-100 m-auto ">1</div>
              <div class="bg-gray-100 m-auto ">3</div>
              <div class="bg-gray-100 m-auto ">2</div>
            </div>
            <div class="flex text-left flex-col flex-wrap">
              <div class="m-auto">Veg Sheekh Kabab</div>
              <div class="m-auto">Panner Tikka</div>
              <div class="m-auto">Chicken Manchurian</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center flex flex-col ml-4 cursor-pointer m-auto">
        <div class="p-2 rounded-lg uppercase ">
          <button class="uppercase" color="accent" mat-raised-button>
            Reorder
          </button>
        </div>
      </div>
    </div>
    <div
      class="flex m-auto m-2 mb-4 shadow-lg- border border-black p-2 rounded-lg flex-row flex-wrap row-wrap"
    >
      <div class="text-center mr-3 flex flex-col flex-wrap m-auto">
        <div class="text-left m-auto">
          <mat-chip-list>
            <mat-chip class="bg-indigo-600 text-xs p-2">FOODKA50</mat-chip>
          </mat-chip-list>
        </div>
        <div class="text-left">
          <div class="text-xl">Flat 50% off</div>
        </div>
        <div class="text-left text-xs text-gray-700 ">Use Promo Code</div>
        <div
          class="text-center p-1 rounded-lg bg-green-400 text-xs text-white "
        >
          EATSPOP
        </div>
        <div class="text-left mt-2 text-xs">• New Foods</div>
        <div class="text-left text-xs">• Lovely Resturant</div>
        <div class="text-left text-xs">• User Satisfactory</div>
      </div>
      <div class="text-center m-auto">
        <img
          src="../../assets/food1.jpg"
          alt="food1"
          class="h-32 mr-3 rounded-lg "
        />
      </div>
      <div class="text-center m-auto flex flex-col flex-wrap ">
        <div class="text-xl text-left text-indigo-600 font-bold">
          Hotel Platinum
        </div>
        <div class="text-sm text-gray-800 ">
          3 items for ₹ 550 • 20 Jan 08:13 pm
        </div>
        <div class="mt-3">
          <div class="flex flex-row text-xs flex-wrap">
            <div class="flex flex-col justify-evenly mr-3  flex-wrap">
              <div class="bg-gray-100 m-auto ">1</div>
              <div class="bg-gray-100 m-auto ">3</div>
              <div class="bg-gray-100 m-auto ">2</div>
            </div>
            <div class="flex text-left flex-col flex-wrap">
              <div class="m-auto">Veg Sheekh Kabab</div>
              <div class="m-auto">Panner Tikka</div>
              <div class="m-auto">Chicken Manchurian</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center flex flex-col ml-4 cursor-pointer m-auto">
        <div class="p-2 rounded-lg uppercase ">
          <button class="uppercase" color="accent" mat-raised-button>
            Reorder
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>Close</button>
  <button mat-button matDialogClose>Done</button>
</mat-dialog-actions>
