<div>
  <div class="bestSellers" *ngFor="let food of nonVegFood.bestsellers" >
    <div class="flex flex-wrap border rounded-lg p-1 mb-4 flex-col md:flex-row justify-evenly p-1 m-1 ">
      <div class="text-left m-auto">
        <img [src]="food.itemUrl" alt="foodcard"  class="w-24 rounded-lg mr-3" >
      </div>
      <div class="text-left m-auto">
        <div class="text-xl mb-2 ">{{food.itemName}}</div>
        <div class="flex flex-wrap">
          <mat-chip-list>
              <mat-chip class="text-sm mr-2" color="accent" >3.4k 👏</mat-chip>
          </mat-chip-list>
          <div class="text-sm m-auto text-left ">30 Votes</div>
        </div>
        <div class="mt-2 flex flex-wrap flex-row">
          <div class="text-xs line-through ">{{food.price.old}}</div>
          <div class="text-sm ml-2 ">{{food.price.new}}</div>
        </div>
        <div class="mt-2">
          <div class="font-sans text">Desi chicken layered and cooked by the dum pukht method served with egg.</div>
        </div>
      </div>
      <div class="text-left border border-black px-3 rounded-lg flex flex-wrap m-auto">
        <div class="p-2 rounded-lg m-auto p-1">Add </div>
        <div class="m-auto ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ED5A6B" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="icon-svg-title-Plus icon-svg-desc-Plus" role="img" class="rbbb40-0 hoSSCx"><linearGradient id="ck7fwb845018q3b6rdbmkxb4p" x1="0" x2="100%" y1="0" y2="0"><stop offset="0" stop-color="#ED5A6B"></stop><stop offset="100%" stop-color="#ED5A6B"></stop></linearGradient><title id="icon-svg-title-Plus">Plus icon</title><desc id="icon-svg-desc-Plus">It is an icon with title Plus</desc><title>plus</title><path d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z" fill="url(#ck7fwb845018q3b6rdbmkxb4p)"></path></svg>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-2 mt-4 text-blue-900 ">
    <p class=" text-2xl "> Restaurant Recommend</p>
  </div>
  <div class="resturantRecomm" *ngFor="let food of nonVegFood.resturantRecomm" >
    <div class="flex flex-wrap border rounded-lg p-1 mb-4 flex-col md:flex-row justify-evenly p-1 m-1 ">
      <div class="text-left m-auto">
        <img [src]="food.itemUrl" alt="foodcard"  class="w-24 rounded-lg mr-3" >
      </div>
      <div class="text-left m-auto">
        <div class="text-xl mb-2 ">{{food.itemName}}</div>
        <div class="flex flex-wrap">
          <mat-chip-list>
              <mat-chip class="text-sm mr-2" color="accent" >3.4k 👏</mat-chip>
          </mat-chip-list>
          <div class="text-sm m-auto text-left ">30 Votes</div>
        </div>
        <div class="mt-2 flex flex-wrap flex-row">
          <div class="text-xs line-through ">{{food.price.old}}</div>
          <div class="text-sm ml-2 ">{{food.price.new}}</div>
        </div>
        <div class="mt-2">
          <div class="font-sans text">Desi chicken layered and cooked by the dum pukht method served with egg.</div>
        </div>
      </div>
      <div class="text-left border border-black px-3 rounded-lg flex flex-wrap m-auto">
        <div class="p-2 rounded-lg m-auto p-1">Add </div>
        <div class="m-auto ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ED5A6B" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="icon-svg-title-Plus icon-svg-desc-Plus" role="img" class="rbbb40-0 hoSSCx"><linearGradient id="ck7fwb845018q3b6rdbmkxb4p" x1="0" x2="100%" y1="0" y2="0"><stop offset="0" stop-color="#ED5A6B"></stop><stop offset="100%" stop-color="#ED5A6B"></stop></linearGradient><title id="icon-svg-title-Plus">Plus icon</title><desc id="icon-svg-desc-Plus">It is an icon with title Plus</desc><title>plus</title><path d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z" fill="url(#ck7fwb845018q3b6rdbmkxb4p)"></path></svg>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-2 mt-4 text-blue-900 ">
    <p class=" text-2xl "> Student's Combo</p>
  </div>
  <div class="studentCombo" *ngFor="let food of nonVegFood.studentCombo" >
    <div class="flex border p-4 rounded-lg p-1 mb-4 flex-col md:flex-row justify-between p-1 m-1 ">
      <!-- <div class="text-left m-auto">
        <img [src]="food.itemUrl" alt="foodcard"  class="w-24 rounded-lg mr-3" >
      </div> -->
      <div class="">
        <div class="text-xl mb-2 ">{{food.itemName}}</div>
        <div class="flex flex-wrap">
          <mat-chip-list>
              <mat-chip class="text-sm mr-2" color="accent" >3.4k 👏</mat-chip>
          </mat-chip-list>
          <div class="text-sm m-auto text-left ">30 Votes</div>
        </div>
        <div class="mt-2 flex flex-wrap flex-row">
          <div class="text-xs line-through ">{{food.price.old}}</div>
          <div class="text-sm ml-2 ">{{food.price.new}}</div>
        </div>
        <!-- <div class="mt-2">
          <div class="font-sans text">Desi chicken layered and cooked by the dum pukht method served with egg.</div>
        </div> -->
      </div>
      <div class=" border border-black px-3 rounded-lg flex flex-wrap">
        <div class="p-2 rounded-lg m-auto p-1">Add </div>
        <div class="m-auto ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ED5A6B" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="icon-svg-title-Plus icon-svg-desc-Plus" role="img" class="rbbb40-0 hoSSCx"><linearGradient id="ck7fwb845018q3b6rdbmkxb4p" x1="0" x2="100%" y1="0" y2="0"><stop offset="0" stop-color="#ED5A6B"></stop><stop offset="100%" stop-color="#ED5A6B"></stop></linearGradient><title id="icon-svg-title-Plus">Plus icon</title><desc id="icon-svg-desc-Plus">It is an icon with title Plus</desc><title>plus</title><path d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z" fill="url(#ck7fwb845018q3b6rdbmkxb4p)"></path></svg>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-2 mt-4 text-blue-900 ">
    <p class=" text-2xl "> Soups</p>
  </div>
  <div class="soups" *ngFor="let food of nonVegFood.soups" >
    <div class="flex border p-4 rounded-lg p-1 mb-4 flex-col md:flex-row justify-between p-1 m-1 ">
      <!-- <div class="text-left m-auto">
        <img [src]="food.itemUrl" alt="foodcard"  class="w-24 rounded-lg mr-3" >
      </div> -->
      <div class="">
        <div class="text-xl mb-2 ">{{food.itemName}}</div>
        <div class="flex flex-wrap">
          <mat-chip-list>
              <mat-chip class="text-sm mr-2" color="accent" >3.4k 👏</mat-chip>
          </mat-chip-list>
          <div class="text-sm m-auto text-left ">30 Votes</div>
        </div>
        <div class="mt-2 flex flex-wrap flex-row">
          <div class="text-xs line-through ">{{food.price.old}}</div>
          <div class="text-sm ml-2 ">{{food.price.new}}</div>
        </div>
        <!-- <div class="mt-2">
          <div class="font-sans text">Desi chicken layered and cooked by the dum pukht method served with egg.</div>
        </div> -->
      </div>
      <div class=" border border-black px-3 rounded-lg flex flex-wrap">
        <div class="p-2 rounded-lg m-auto p-1">Add </div>
        <div class="m-auto ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ED5A6B" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="icon-svg-title-Plus icon-svg-desc-Plus" role="img" class="rbbb40-0 hoSSCx"><linearGradient id="ck7fwb845018q3b6rdbmkxb4p" x1="0" x2="100%" y1="0" y2="0"><stop offset="0" stop-color="#ED5A6B"></stop><stop offset="100%" stop-color="#ED5A6B"></stop></linearGradient><title id="icon-svg-title-Plus">Plus icon</title><desc id="icon-svg-desc-Plus">It is an icon with title Plus</desc><title>plus</title><path d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z" fill="url(#ck7fwb845018q3b6rdbmkxb4p)"></path></svg>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-2 mt-4 text-blue-900 ">
    <p class=" text-2xl "> Starters</p>
  </div>
  <div class="starters" *ngFor="let food of nonVegFood.starters" >
    <div class="flex border p-4 rounded-lg p-1 mb-4 flex-col md:flex-row justify-between p-1 m-1 ">
      <!-- <div class="text-left m-auto">
        <img [src]="food.itemUrl" alt="foodcard"  class="w-24 rounded-lg mr-3" >
      </div> -->
      <div class="">
        <div class="text-xl mb-2 ">{{food.itemName}}</div>
        <div class="flex flex-wrap">
          <mat-chip-list>
              <mat-chip class="text-sm mr-2" color="accent" >3.4k 👏</mat-chip>
          </mat-chip-list>
          <div class="text-sm m-auto text-left ">30 Votes</div>
        </div>
        <div class="mt-2 flex flex-wrap flex-row">
          <div class="text-xs line-through ">{{food.price.old}}</div>
          <div class="text-sm ml-2 ">{{food.price.new}}</div>
        </div>
        <!-- <div class="mt-2">
          <div class="font-sans text">Desi chicken layered and cooked by the dum pukht method served with egg.</div>
        </div> -->
      </div>
      <div class=" border border-black px-3 rounded-lg flex flex-wrap">
        <div class="p-2 rounded-lg m-auto p-1">Add </div>
        <div class="m-auto ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ED5A6B" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="icon-svg-title-Plus icon-svg-desc-Plus" role="img" class="rbbb40-0 hoSSCx"><linearGradient id="ck7fwb845018q3b6rdbmkxb4p" x1="0" x2="100%" y1="0" y2="0"><stop offset="0" stop-color="#ED5A6B"></stop><stop offset="100%" stop-color="#ED5A6B"></stop></linearGradient><title id="icon-svg-title-Plus">Plus icon</title><desc id="icon-svg-desc-Plus">It is an icon with title Plus</desc><title>plus</title><path d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z" fill="url(#ck7fwb845018q3b6rdbmkxb4p)"></path></svg>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-2 mt-4 text-blue-900 ">
    <p class=" text-2xl "> MainCourse</p>
  </div>
  <div class="mainCourse" *ngFor="let food of nonVegFood.mainCourse" >
    <div class="flex border p-4 rounded-lg p-1 mb-4 flex-col md:flex-row justify-between p-1 m-1 ">
      <!-- <div class="text-left m-auto">
        <img [src]="food.itemUrl" alt="foodcard"  class="w-24 rounded-lg mr-3" >
      </div> -->
      <div class="">
        <div class="text-xl mb-2 ">{{food.itemName}}</div>
        <div class="flex flex-wrap">
          <mat-chip-list>
              <mat-chip class="text-sm mr-2" color="accent" >3.4k 👏</mat-chip>
          </mat-chip-list>
          <div class="text-sm m-auto text-left ">30 Votes</div>
        </div>
        <div class="mt-2 flex flex-wrap flex-row">
          <div class="text-xs line-through ">{{food.price.old}}</div>
          <div class="text-sm ml-2 ">{{food.price.new}}</div>
        </div>
        <!-- <div class="mt-2">
          <div class="font-sans text">Desi chicken layered and cooked by the dum pukht method served with egg.</div>
        </div> -->
      </div>
      <div class=" border border-black px-3 rounded-lg flex flex-wrap">
        <div class="p-2 rounded-lg m-auto p-1">Add </div>
        <div class="m-auto ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ED5A6B" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="icon-svg-title-Plus icon-svg-desc-Plus" role="img" class="rbbb40-0 hoSSCx"><linearGradient id="ck7fwb845018q3b6rdbmkxb4p" x1="0" x2="100%" y1="0" y2="0"><stop offset="0" stop-color="#ED5A6B"></stop><stop offset="100%" stop-color="#ED5A6B"></stop></linearGradient><title id="icon-svg-title-Plus">Plus icon</title><desc id="icon-svg-desc-Plus">It is an icon with title Plus</desc><title>plus</title><path d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z" fill="url(#ck7fwb845018q3b6rdbmkxb4p)"></path></svg>
        </div>
      </div>
    </div>
  </div>

</div>