<div>
  <app-navbar></app-navbar>
</div>

<div>
  <app-foodSearch></app-foodSearch>
  <div class="max-w-5xl mx-auto m-auto">
    <div class=" mb-8 mt-12">
      <hr />
    </div>
    <div class="flex flex-wrap row md:flex justify-evenly col md:flex-row flex-col m-3">
        <div class="text-center">
            <div class="flex-col flex flex-wrap">
                <img src="../assets/app-love.svg" class="w-full" alt="">
            </div>
        </div>
        <div class="text-center">
            <div class="flex-col flex flex-wrap">
                <img src="../assets/app-love.svg" class="w-full" alt="">
            </div>
        </div>
        <div class="text-center">
            <div class="flex-col flex flex-wrap">
                <img src="../assets/app-love.svg" class="w-full" alt="">
            </div>
        </div>
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
