<div>
  <app-navbar></app-navbar>
</div>

<div>
  <app-foodSearch></app-foodSearch>
  <div class="max-w-5xl mx-auto m-auto">
    <div class=" mb-8 mt-12">
      <hr />
    </div>
    <div class="flex flex-wrap row md:flex justify-evenly col md:flex-row flex-col m-3">
        <div class="text-center">
            <div class="flex-col flex flex-wrap mb-10">
                <div class="text-center">
                    <img src="../assets/app-love.svg" class="w-64 mx-auto md:w-full" alt="">
                </div>
                <div class="text-2xl flex-wrap mt-4">
                    There's more to love in the app
                </div>
                <div class="mt-3 flex justify-evenly flex-wrap">
                    <div>Get the app: </div>
                    <div class="hover:text-green-400 font-bold cursor-pointer">Playstore</div>
                </div>

            </div>
        </div>
        <div class="text-center">
            <div class="flex-col flex flex-wrap mb-10">
                <img src="../assets/resturant-deliver.svg" class="w-64 mx-auto md:w-full" alt="">
            </div>
        </div>
        <div class="text-center">
            <div class="flex-col flex flex-wrap mb-10">
                <img src="../assets/deliver-eats.svg" class="w-64 mx-auto md:w-full" alt="">
            </div>
        </div>
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
