<h1 class=" mt-12 text-3xl text-center">Welcome to admin portal 🔑</h1>
<div class="logArea">
  <form [formGroup]="adminLogIn" (ngSubmit)="onSubmit()">
    <div class="my-2">
      <label class="text-md" for="uid">Admin Id:</label><br>
      <input type="text" class="p-4 bg-gray-200 py-2" formControlName="uid">
    </div>
    <div class="my-2">
      <label class="text-md" for="pwd">Password:</label><br>
      <input type="password" class="p-4 bg-gray-200 py-2" formControlName="pwd">
    </div>
    <div>
      <a [routerLink]="['']" class="p-1 bg-gray-100 rounded text-center align-middle" >Back</a>
      <input type="submit" class="p-1 bg-red-300 rounded ml-2 cursor-pointer" value="Get in🤘">
    </div>
  </form>
</div>