.text-grad {
	background: -webkit-linear-gradient(270deg, #de6161, #2657eb);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 99;
	-webkit-animation: you 3s ease infinite;
	-moz-animation: you 3s ease infinite;
	animation: you 3s ease infinite ;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 .3s linear infinite both;
	animation: vibrate-1 .3s linear infinite both
}

@-webkit-keyframes vibrate-1 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px)
	}
	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px)
	}
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px)
	}
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px)
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}
}

@keyframes vibrate-1 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px)
	}
	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px)
	}
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px)
	}
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px)
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0)
	}
}

@-webkit-keyframes you {
	0% {
		background-position: 0 2%
	}
	50% {
		background-position: 100% 99%
	}
	100% {
		background-position: 0 2%
	}
}

@-moz-keyframes you {
	0% {
		background-position: 0 2%
	}
	50% {
		background-position: 100% 99%
	}
	100% {
		background-position: 0 2%
	}
}

@keyframes you {
	0% {
		background-position: 0 2%
	}
	50% {
		background-position: 100% 99%
	}
	100% {
		background-position: 0 2%
	}
}

.btn-grad {
	background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
	-webkit-animation: btn-fusion 4s ease infinite;
	-moz-animation: btn-fusion 4s ease infinite;
	animation: btn-fusion 4s ease infinite
}

.btn-grad:hover {
	background-position: right center;
	background: linear-gradient(324deg, #ff512f, #dd2476, #ff512f);
	background-size: 600% 600%
}

@-webkit-keyframes btn-fusion {
	0% {
		background-position: 87% 0
	}
	50% {
		background-position: 14% 100%
	}
	100% {
		background-position: 87% 0
	}
}

@-moz-keyframes btn-fusion {
	0% {
		background-position: 87% 0
	}
	50% {
		background-position: 14% 100%
	}
	100% {
		background-position: 87% 0
	}
}

@keyframes btn-fusion {
	0% {
		background-position: 87% 0
	}
	50% {
		background-position: 14% 100%
	}
	100% {
		background-position: 87% 0
	}
}

.particle {
	position: absolute;
	border-radius: 50%
}

@-webkit-keyframes particle-animation-1 {
	100% {
		-webkit-transform: translate3d(39vw, 50vh, 48px);
		transform: translate3d(39vw, 50vh, 48px)
	}
}

@keyframes particle-animation-1 {
	100% {
		-webkit-transform: translate3d(39vw, 50vh, 48px);
		transform: translate3d(39vw, 50vh, 48px)
	}
}

.particle:nth-child(1) {
	-webkit-animation: particle-animation-1 60s infinite;
	animation: particle-animation-1 60s infinite;
	opacity: .76;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -.2s;
	animation-delay: -.2s;
	-webkit-transform: translate3d(43vw, 7vh, 71px);
	transform: translate3d(43vw, 7vh, 71px);
	background: #d9d326
}

@-webkit-keyframes particle-animation-2 {
	100% {
		-webkit-transform: translate3d(63vw, 5vh, 83px);
		transform: translate3d(63vw, 5vh, 83px)
	}
}

@keyframes particle-animation-2 {
	100% {
		-webkit-transform: translate3d(63vw, 5vh, 83px);
		transform: translate3d(63vw, 5vh, 83px)
	}
}

.particle:nth-child(2) {
	-webkit-animation: particle-animation-2 60s infinite;
	animation: particle-animation-2 60s infinite;
	opacity: .72;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -.4s;
	animation-delay: -.4s;
	-webkit-transform: translate3d(89vw, 13vh, 15px);
	transform: translate3d(89vw, 13vh, 15px);
	background: #26afd9
}

@-webkit-keyframes particle-animation-3 {
	100% {
		-webkit-transform: translate3d(71vw, 37vh, 25px);
		transform: translate3d(71vw, 37vh, 25px)
	}
}

@keyframes particle-animation-3 {
	100% {
		-webkit-transform: translate3d(71vw, 37vh, 25px);
		transform: translate3d(71vw, 37vh, 25px)
	}
}

.particle:nth-child(3) {
	-webkit-animation: particle-animation-3 60s infinite;
	animation: particle-animation-3 60s infinite;
	opacity: .36;
	height: 7px;
	width: 7px;
	-webkit-animation-delay: -.6s;
	animation-delay: -.6s;
	-webkit-transform: translate3d(70vw, 20vh, 38px);
	transform: translate3d(70vw, 20vh, 38px);
	background: #d926c1
}

@-webkit-keyframes particle-animation-4 {
	100% {
		-webkit-transform: translate3d(75vw, 25vh, 41px);
		transform: translate3d(75vw, 25vh, 41px)
	}
}

@keyframes particle-animation-4 {
	100% {
		-webkit-transform: translate3d(75vw, 25vh, 41px);
		transform: translate3d(75vw, 25vh, 41px)
	}
}

.particle:nth-child(4) {
	-webkit-animation: particle-animation-4 60s infinite;
	animation: particle-animation-4 60s infinite;
	opacity: .15;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -.8s;
	animation-delay: -.8s;
	-webkit-transform: translate3d(5vw, 13vh, 92px);
	transform: translate3d(5vw, 13vh, 92px);
	background: #26b5d9
}

@-webkit-keyframes particle-animation-5 {
	100% {
		-webkit-transform: translate3d(84vw, 77vh, 9px);
		transform: translate3d(84vw, 77vh, 9px)
	}
}

@keyframes particle-animation-5 {
	100% {
		-webkit-transform: translate3d(84vw, 77vh, 9px);
		transform: translate3d(84vw, 77vh, 9px)
	}
}

.particle:nth-child(5) {
	-webkit-animation: particle-animation-5 60s infinite;
	animation: particle-animation-5 60s infinite;
	opacity: .76;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
	-webkit-transform: translate3d(10vw, 52vh, 56px);
	transform: translate3d(10vw, 52vh, 56px);
	background: #264ad9
}

@-webkit-keyframes particle-animation-6 {
	100% {
		-webkit-transform: translate3d(48vw, 69vh, 95px);
		transform: translate3d(48vw, 69vh, 95px)
	}
}

@keyframes particle-animation-6 {
	100% {
		-webkit-transform: translate3d(48vw, 69vh, 95px);
		transform: translate3d(48vw, 69vh, 95px)
	}
}

.particle:nth-child(6) {
	-webkit-animation: particle-animation-6 60s infinite;
	animation: particle-animation-6 60s infinite;
	opacity: .15;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
	-webkit-transform: translate3d(17vw, 63vh, 37px);
	transform: translate3d(17vw, 63vh, 37px);
	background: #26d9b8
}

@-webkit-keyframes particle-animation-7 {
	100% {
		-webkit-transform: translate3d(52vw, 58vh, 17px);
		transform: translate3d(52vw, 58vh, 17px)
	}
}

@keyframes particle-animation-7 {
	100% {
		-webkit-transform: translate3d(52vw, 58vh, 17px);
		transform: translate3d(52vw, 58vh, 17px)
	}
}

.particle:nth-child(7) {
	-webkit-animation: particle-animation-7 60s infinite;
	animation: particle-animation-7 60s infinite;
	opacity: .91;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -1.4s;
	animation-delay: -1.4s;
	-webkit-transform: translate3d(27vw, 78vh, 46px);
	transform: translate3d(27vw, 78vh, 46px);
	background: #7ad926
}

@-webkit-keyframes particle-animation-8 {
	100% {
		-webkit-transform: translate3d(60vw, 26vh, 44px);
		transform: translate3d(60vw, 26vh, 44px)
	}
}

@keyframes particle-animation-8 {
	100% {
		-webkit-transform: translate3d(60vw, 26vh, 44px);
		transform: translate3d(60vw, 26vh, 44px)
	}
}

.particle:nth-child(8) {
	-webkit-animation: particle-animation-8 60s infinite;
	animation: particle-animation-8 60s infinite;
	opacity: .52;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -1.6s;
	animation-delay: -1.6s;
	-webkit-transform: translate3d(67vw, 73vh, 95px);
	transform: translate3d(67vw, 73vh, 95px);
	background: #26d959
}

@-webkit-keyframes particle-animation-9 {
	100% {
		-webkit-transform: translate3d(55vw, 38vh, 67px);
		transform: translate3d(55vw, 38vh, 67px)
	}
}

@keyframes particle-animation-9 {
	100% {
		-webkit-transform: translate3d(55vw, 38vh, 67px);
		transform: translate3d(55vw, 38vh, 67px)
	}
}

.particle:nth-child(9) {
	-webkit-animation: particle-animation-9 60s infinite;
	animation: particle-animation-9 60s infinite;
	opacity: .39;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -1.8s;
	animation-delay: -1.8s;
	-webkit-transform: translate3d(69vw, 35vh, 11px);
	transform: translate3d(69vw, 35vh, 11px);
	background: #4d26d9
}

@-webkit-keyframes particle-animation-10 {
	100% {
		-webkit-transform: translate3d(39vw, 60vh, 89px);
		transform: translate3d(39vw, 60vh, 89px)
	}
}

@keyframes particle-animation-10 {
	100% {
		-webkit-transform: translate3d(39vw, 60vh, 89px);
		transform: translate3d(39vw, 60vh, 89px)
	}
}

.particle:nth-child(10) {
	-webkit-animation: particle-animation-10 60s infinite;
	animation: particle-animation-10 60s infinite;
	opacity: .55;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
	-webkit-transform: translate3d(41vw, 40vh, 20px);
	transform: translate3d(41vw, 40vh, 20px);
	background: #d926c1
}

@-webkit-keyframes particle-animation-11 {
	100% {
		-webkit-transform: translate3d(70vw, 77vh, 49px);
		transform: translate3d(70vw, 77vh, 49px)
	}
}

@keyframes particle-animation-11 {
	100% {
		-webkit-transform: translate3d(70vw, 77vh, 49px);
		transform: translate3d(70vw, 77vh, 49px)
	}
}

.particle:nth-child(11) {
	-webkit-animation: particle-animation-11 60s infinite;
	animation: particle-animation-11 60s infinite;
	opacity: .01;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -2.2s;
	animation-delay: -2.2s;
	-webkit-transform: translate3d(29vw, 23vh, 93px);
	transform: translate3d(29vw, 23vh, 93px);
	background: #26d965
}

@-webkit-keyframes particle-animation-12 {
	100% {
		-webkit-transform: translate3d(31vw, 36vh, 69px);
		transform: translate3d(31vw, 36vh, 69px)
	}
}

@keyframes particle-animation-12 {
	100% {
		-webkit-transform: translate3d(31vw, 36vh, 69px);
		transform: translate3d(31vw, 36vh, 69px)
	}
}

.particle:nth-child(12) {
	-webkit-animation: particle-animation-12 60s infinite;
	animation: particle-animation-12 60s infinite;
	opacity: .18;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -2.4s;
	animation-delay: -2.4s;
	-webkit-transform: translate3d(25vw, 15vh, 30px);
	transform: translate3d(25vw, 15vh, 30px);
	background: #3226d9
}

@-webkit-keyframes particle-animation-13 {
	100% {
		-webkit-transform: translate3d(14vw, 59vh, 84px);
		transform: translate3d(14vw, 59vh, 84px)
	}
}

@keyframes particle-animation-13 {
	100% {
		-webkit-transform: translate3d(14vw, 59vh, 84px);
		transform: translate3d(14vw, 59vh, 84px)
	}
}

.particle:nth-child(13) {
	-webkit-animation: particle-animation-13 60s infinite;
	animation: particle-animation-13 60s infinite;
	opacity: .31;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -2.6s;
	animation-delay: -2.6s;
	-webkit-transform: translate3d(41vw, 89vh, 79px);
	transform: translate3d(41vw, 89vh, 79px);
	background: #d92644
}

@-webkit-keyframes particle-animation-14 {
	100% {
		-webkit-transform: translate3d(53vw, 77vh, 60px);
		transform: translate3d(53vw, 77vh, 60px)
	}
}

@keyframes particle-animation-14 {
	100% {
		-webkit-transform: translate3d(53vw, 77vh, 60px);
		transform: translate3d(53vw, 77vh, 60px)
	}
}

.particle:nth-child(14) {
	-webkit-animation: particle-animation-14 60s infinite;
	animation: particle-animation-14 60s infinite;
	opacity: .99;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -2.8s;
	animation-delay: -2.8s;
	-webkit-transform: translate3d(19vw, 40vh, 58px);
	transform: translate3d(19vw, 40vh, 58px);
	background: #d92638
}

@-webkit-keyframes particle-animation-15 {
	100% {
		-webkit-transform: translate3d(66vw, 48vh, 21px);
		transform: translate3d(66vw, 48vh, 21px)
	}
}

@keyframes particle-animation-15 {
	100% {
		-webkit-transform: translate3d(66vw, 48vh, 21px);
		transform: translate3d(66vw, 48vh, 21px)
	}
}

.particle:nth-child(15) {
	-webkit-animation: particle-animation-15 60s infinite;
	animation: particle-animation-15 60s infinite;
	opacity: .26;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -3s;
	animation-delay: -3s;
	-webkit-transform: translate3d(38vw, 74vh, 78px);
	transform: translate3d(38vw, 74vh, 78px);
	background: #268bd9
}

@-webkit-keyframes particle-animation-16 {
	100% {
		-webkit-transform: translate3d(39vw, 65vh, 95px);
		transform: translate3d(39vw, 65vh, 95px)
	}
}

@keyframes particle-animation-16 {
	100% {
		-webkit-transform: translate3d(39vw, 65vh, 95px);
		transform: translate3d(39vw, 65vh, 95px)
	}
}

.particle:nth-child(16) {
	-webkit-animation: particle-animation-16 60s infinite;
	animation: particle-animation-16 60s infinite;
	opacity: .8;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -3.2s;
	animation-delay: -3.2s;
	-webkit-transform: translate3d(76vw, 33vh, 69px);
	transform: translate3d(76vw, 33vh, 69px);
	background: #d99a26
}

@-webkit-keyframes particle-animation-17 {
	100% {
		-webkit-transform: translate3d(87vw, 44vh, 31px);
		transform: translate3d(87vw, 44vh, 31px)
	}
}

@keyframes particle-animation-17 {
	100% {
		-webkit-transform: translate3d(87vw, 44vh, 31px);
		transform: translate3d(87vw, 44vh, 31px)
	}
}

.particle:nth-child(17) {
	-webkit-animation: particle-animation-17 60s infinite;
	animation: particle-animation-17 60s infinite;
	opacity: .87;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -3.4s;
	animation-delay: -3.4s;
	-webkit-transform: translate3d(77vw, 67vh, 21px);
	transform: translate3d(77vw, 67vh, 21px);
	background: #d926c4
}

@-webkit-keyframes particle-animation-18 {
	100% {
		-webkit-transform: translate3d(65vw, 60vh, 15px);
		transform: translate3d(65vw, 60vh, 15px)
	}
}

@keyframes particle-animation-18 {
	100% {
		-webkit-transform: translate3d(65vw, 60vh, 15px);
		transform: translate3d(65vw, 60vh, 15px)
	}
}

.particle:nth-child(18) {
	-webkit-animation: particle-animation-18 60s infinite;
	animation: particle-animation-18 60s infinite;
	opacity: .79;
	height: 7px;
	width: 7px;
	-webkit-animation-delay: -3.6s;
	animation-delay: -3.6s;
	-webkit-transform: translate3d(25vw, 42vh, 40px);
	transform: translate3d(25vw, 42vh, 40px);
	background: #d9ca26
}

@-webkit-keyframes particle-animation-19 {
	100% {
		-webkit-transform: translate3d(14vw, 14vh, 31px);
		transform: translate3d(14vw, 14vh, 31px)
	}
}

@keyframes particle-animation-19 {
	100% {
		-webkit-transform: translate3d(14vw, 14vh, 31px);
		transform: translate3d(14vw, 14vh, 31px)
	}
}

.particle:nth-child(19) {
	-webkit-animation: particle-animation-19 60s infinite;
	animation: particle-animation-19 60s infinite;
	opacity: .92;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -3.8s;
	animation-delay: -3.8s;
	-webkit-transform: translate3d(73vw, 47vh, 3px);
	transform: translate3d(73vw, 47vh, 3px);
	background: #d92685
}

@-webkit-keyframes particle-animation-20 {
	100% {
		-webkit-transform: translate3d(53vw, 74vh, 72px);
		transform: translate3d(53vw, 74vh, 72px)
	}
}

@keyframes particle-animation-20 {
	100% {
		-webkit-transform: translate3d(53vw, 74vh, 72px);
		transform: translate3d(53vw, 74vh, 72px)
	}
}

.particle:nth-child(20) {
	-webkit-animation: particle-animation-20 60s infinite;
	animation: particle-animation-20 60s infinite;
	opacity: .53;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -4s;
	animation-delay: -4s;
	-webkit-transform: translate3d(86vw, 31vh, 75px);
	transform: translate3d(86vw, 31vh, 75px);
	background: #d99a26
}

@-webkit-keyframes particle-animation-21 {
	100% {
		-webkit-transform: translate3d(75vw, 73vh, 59px);
		transform: translate3d(75vw, 73vh, 59px)
	}
}

@keyframes particle-animation-21 {
	100% {
		-webkit-transform: translate3d(75vw, 73vh, 59px);
		transform: translate3d(75vw, 73vh, 59px)
	}
}

.particle:nth-child(21) {
	-webkit-animation: particle-animation-21 60s infinite;
	animation: particle-animation-21 60s infinite;
	opacity: .86;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -4.2s;
	animation-delay: -4.2s;
	-webkit-transform: translate3d(14vw, 84vh, 45px);
	transform: translate3d(14vw, 84vh, 45px);
	background: #d926a0
}

@-webkit-keyframes particle-animation-22 {
	100% {
		-webkit-transform: translate3d(11vw, 60vh, 16px);
		transform: translate3d(11vw, 60vh, 16px)
	}
}

@keyframes particle-animation-22 {
	100% {
		-webkit-transform: translate3d(11vw, 60vh, 16px);
		transform: translate3d(11vw, 60vh, 16px)
	}
}

.particle:nth-child(22) {
	-webkit-animation: particle-animation-22 60s infinite;
	animation: particle-animation-22 60s infinite;
	opacity: .1;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -4.4s;
	animation-delay: -4.4s;
	-webkit-transform: translate3d(19vw, 75vh, 37px);
	transform: translate3d(19vw, 75vh, 37px);
	background: #d9263e
}

@-webkit-keyframes particle-animation-23 {
	100% {
		-webkit-transform: translate3d(9vw, 33vh, 18px);
		transform: translate3d(9vw, 33vh, 18px)
	}
}

@keyframes particle-animation-23 {
	100% {
		-webkit-transform: translate3d(9vw, 33vh, 18px);
		transform: translate3d(9vw, 33vh, 18px)
	}
}

.particle:nth-child(23) {
	-webkit-animation: particle-animation-23 60s infinite;
	animation: particle-animation-23 60s infinite;
	opacity: .59;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -4.6s;
	animation-delay: -4.6s;
	-webkit-transform: translate3d(26vw, 13vh, 36px);
	transform: translate3d(26vw, 13vh, 36px);
	background: #d96b26
}

@-webkit-keyframes particle-animation-24 {
	100% {
		-webkit-transform: translate3d(82vw, 62vh, 92px);
		transform: translate3d(82vw, 62vh, 92px)
	}
}

@keyframes particle-animation-24 {
	100% {
		-webkit-transform: translate3d(82vw, 62vh, 92px);
		transform: translate3d(82vw, 62vh, 92px)
	}
}

.particle:nth-child(24) {
	-webkit-animation: particle-animation-24 60s infinite;
	animation: particle-animation-24 60s infinite;
	opacity: .9;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -4.8s;
	animation-delay: -4.8s;
	-webkit-transform: translate3d(33vw, 70vh, 13px);
	transform: translate3d(33vw, 70vh, 13px);
	background: #26c7d9
}

@-webkit-keyframes particle-animation-25 {
	100% {
		-webkit-transform: translate3d(36vw, 72vh, 4px);
		transform: translate3d(36vw, 72vh, 4px)
	}
}

@keyframes particle-animation-25 {
	100% {
		-webkit-transform: translate3d(36vw, 72vh, 4px);
		transform: translate3d(36vw, 72vh, 4px)
	}
}

.particle:nth-child(25) {
	-webkit-animation: particle-animation-25 60s infinite;
	animation: particle-animation-25 60s infinite;
	opacity: .63;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -5s;
	animation-delay: -5s;
	-webkit-transform: translate3d(39vw, 48vh, 47px);
	transform: translate3d(39vw, 48vh, 47px);
	background: #26d94d
}

@-webkit-keyframes particle-animation-26 {
	100% {
		-webkit-transform: translate3d(12vw, 6vh, 13px);
		transform: translate3d(12vw, 6vh, 13px)
	}
}

@keyframes particle-animation-26 {
	100% {
		-webkit-transform: translate3d(12vw, 6vh, 13px);
		transform: translate3d(12vw, 6vh, 13px)
	}
}

.particle:nth-child(26) {
	-webkit-animation: particle-animation-26 60s infinite;
	animation: particle-animation-26 60s infinite;
	opacity: .42;
	height: 10px;
	width: 10px;
	-webkit-animation-delay: -5.2s;
	animation-delay: -5.2s;
	-webkit-transform: translate3d(67vw, 42vh, 28px);
	transform: translate3d(67vw, 42vh, 28px);
	background: #bbd926
}

@-webkit-keyframes particle-animation-27 {
	100% {
		-webkit-transform: translate3d(70vw, 62vh, 100px);
		transform: translate3d(70vw, 62vh, 100px)
	}
}

@keyframes particle-animation-27 {
	100% {
		-webkit-transform: translate3d(70vw, 62vh, 100px);
		transform: translate3d(70vw, 62vh, 100px)
	}
}

.particle:nth-child(27) {
	-webkit-animation: particle-animation-27 60s infinite;
	animation: particle-animation-27 60s infinite;
	opacity: .5;
	height: 9px;
	width: 9px;
	-webkit-animation-delay: -5.4s;
	animation-delay: -5.4s;
	-webkit-transform: translate3d(48vw, 5vh, 29px);
	transform: translate3d(48vw, 5vh, 29px);
	background: #6e26d9
}

@-webkit-keyframes particle-animation-28 {
	100% {
		-webkit-transform: translate3d(39vw, 34vh, 67px);
		transform: translate3d(39vw, 34vh, 67px)
	}
}

@keyframes particle-animation-28 {
	100% {
		-webkit-transform: translate3d(39vw, 34vh, 67px);
		transform: translate3d(39vw, 34vh, 67px)
	}
}

.particle:nth-child(28) {
	-webkit-animation: particle-animation-28 60s infinite;
	animation: particle-animation-28 60s infinite;
	opacity: .03;
	height: 7px;
	width: 7px;
	-webkit-animation-delay: -5.6s;
	animation-delay: -5.6s;
	-webkit-transform: translate3d(3vw, 58vh, 16px);
	transform: translate3d(3vw, 58vh, 16px);
	background: #b226d9
}

@-webkit-keyframes particle-animation-29 {
	100% {
		-webkit-transform: translate3d(83vw, 21vh, 54px);
		transform: translate3d(83vw, 21vh, 54px)
	}
}

@keyframes particle-animation-29 {
	100% {
		-webkit-transform: translate3d(83vw, 21vh, 54px);
		transform: translate3d(83vw, 21vh, 54px)
	}
}

.particle:nth-child(29) {
	-webkit-animation: particle-animation-29 60s infinite;
	animation: particle-animation-29 60s infinite;
	opacity: .3;
	height: 8px;
	width: 8px;
	-webkit-animation-delay: -5.8s;
	animation-delay: -5.8s;
	-webkit-transform: translate3d(9vw, 47vh, 26px);
	transform: translate3d(9vw, 47vh, 26px);
	background: #2685d9
}

@-webkit-keyframes particle-animation-30 {
	100% {
		-webkit-transform: translate3d(35vw, 11vh, 39px);
		transform: translate3d(35vw, 11vh, 39px)
	}
}

@keyframes particle-animation-30 {
	100% {
		-webkit-transform: translate3d(35vw, 11vh, 39px);
		transform: translate3d(35vw, 11vh, 39px)
	}
}

.particle:nth-child(30) {
	-webkit-animation: particle-animation-30 60s infinite;
	animation: particle-animation-30 60s infinite;
	opacity: .37;
	height: 6px;
	width: 6px;
	-webkit-animation-delay: -6s;
	animation-delay: -6s;
	-webkit-transform: translate3d(77vw, 86vh, 55px);
	transform: translate3d(77vw, 86vh, 55px);
	background: #6e26d9
}