<div class="container mx-auto">
  <p class="text-sm font-light text-gray-600 py-4">
    Home / India / {{ data.address.city }} / {{ data.address.area }} / <strong class=" text-gray-800 ">{{data.resturantName}}</strong> 
  </p>
  <section>
    <div class="banner">
      <div class="img_col_1">
        <div class="_img1">
          <img class="__img1" src="https://b.zmtcdn.com/data/pictures/0/18354590/03c1ca9eab52d48571a730f50f0db355.jpg?output-format=webp" alt="">
        </div>
      </div>
      <div class="img_col_2">
        
      </div>
    </div>
  </section>
</div>
