section
{
  display: block;
}

.banner
{
  display: flex;
  height: 24rem;
  width: 100%;
}
.img_col_1
{
  min-width: 62.4%;
    max-width: 100%;
    width: 62.4%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0px;
    overflow: hidden;
}
._img1
{
  position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.__img1{
  width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    transition: 0.5s all ease-in-out;
}
.__img1:hover
{
  transform: scale(1.1);
}
.img_col_2,.img_col_3
{
    width: 18%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.active
{
  padding-left:8px ;
  padding-right:8px ;
  padding-bottom: 13px;
  border-bottom: 4px solid rgb(255, 71, 71);
}

