<app-resturantNavbar></app-resturantNavbar>

<div class="container mx-auto">
  <p class="text-sm font-light text-gray-600 py-4">
    Home / India / {{ data.address.city }} / {{ data.address.area }} /
    <strong class=" text-gray-800 ">{{ data.resturantName }}</strong>
  </p>
  <section>
    <div class="banner">
      <div class="img_col_1">
        <div class="_img1">
          <img
            class="__img1 rounded-md"
            [src]="data.imgUrl"
            alt=""
          />
        </div>
      </div>
      <div class="img_col_2 flex flex-col justify-between mx-1">
        <div class="img2_1 ">
          <img
            class="rounded-md"
            src="https://b.zmtcdn.com/data/reviews_photos/bab/850fabeb79ff3e60fefb67c52c8a8bab_1552909678.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A"
            alt=""
          />
        </div>
        <div class="img2_2">
          <img
            class="rounded-md"
            src="https://b.zmtcdn.com/data/reviews_photos/32a/0e3b105450312008e507da24e416d32a_1544272487.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A"
            alt=""
          />
        </div>
      </div>
      <div class="img_col_3 flex flex-col justify-between mx-1">
        <div class="img2_1">
          <img
            class="rounded-md"
            src="https://b.zmtcdn.com/data/reviews_photos/bab/850fabeb79ff3e60fefb67c52c8a8bab_1552909678.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A"
            alt=""
          />
        </div>
        <div class="img2_2">
          <img
            class="rounded-md"
            src="https://b.zmtcdn.com/data/reviews_photos/32a/0e3b105450312008e507da24e416d32a_1544272487.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <section class="details px-1 pt-4">
    <div class="flex justify-between">
      <div class="details-text">
        <h1 class="text-3xl ">{{ data.resturantName }}</h1>
        <p class="text-gray-700">
          {{ data.about.bio }} -
          <span *ngFor="let item of data.about.foodType">{{ item }}</span>
        </p>
        <p class="text-gray-600 text-lg">{{ data.address.area }}</p>
        <p class="text-red-600 pt-2 text-md">
          {{ data.currentStatus }} -
          <span class="text-gray-800">
            {{ data.time.opening }} - {{ data.time.closing }} [{{
              data.time.days
            }}]
          </span>
        </p>
      </div>
      <div class="rating">
        <p class="text-2xl bg-teal-400 p-2 rounded-sm">
          {{ data.about.rating }}
        </p>
      </div>
    </div>
    <div class="py-4">
      <ul class="flex">
        <li
          class="bg-red-500 text-md px-3 text-white py-2 cursor-pointer hover:shadow-md mr-1 rounded-md"
        >
          🎀 Add Review
        </li>
        <li
          class="border-red-500 border-2 text-md px-3 py-2 cursor-pointer hover:shadow-md mx-1 rounded-md"
        >
          🚀 Direction
        </li>
        <li
          class="border-red-500 border-2 text-md px-3 py-2 cursor-pointer hover:shadow-md mx-1 rounded-md"
        >
          📌 Bookmark
        </li>
        <li
          class="border-red-500 border-2 text-md px-3 py-2 cursor-pointer hover:shadow-md mx-1 rounded-md"
        >
          ✋ Share
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="all_details flex mt-4 relative">
      <div class="left-sidebar pl-4 pr-20 w-64 bg-gray-100 rounded-md">
        <ul>
          <li class="py-3 px-4 hover:text-red-600 cursor-pointer">
            Bestsellers
          </li>
          <li class="py-3 px-4 hover:text-red-600 cursor-pointer">
            Restaurant Recomm
          </li>
          <li class="py-3 px-4 hover:text-red-600 cursor-pointer">
            Student's Combo
          </li>
          <li class="py-3 px-4 hover:text-red-600 cursor-pointer">Soups</li>
          <li class="py-3 px-4 hover:text-red-600 cursor-pointer">Starter</li>
          <li class="py-3 px-4 hover:text-red-600 cursor-pointer">Rice</li>
          <li class="py-3 px-4 hover:text-red-600 cursor-pointer">Desserts</li>
        </ul>
      </div>
      <div class="right-sidebar ml-3 w-full">
        <section>
          <div class="px-4 py-4">
            <mat-tab-group color="warn">
              <mat-tab label="Overview">
                <div class="container">
                  <p class="text-2xl mt-8">About this place</p>
                  <p class="mt-10 ml-1 shadow-sm">Menus 🍽</p>
                  <div
                    class="my-4 p-2 inline-block rounded bg-gray-100 shadow-lg overflow-hidden"
                  >
                    <img
                      class="rounded block hover:cursor-pointer menuImg "
                      [src]="data.menuImgUrl"
                      alt=""
                    />
                  </div>
                  <div class="pt-2">
                    <p
                      class="text-xl bg-red-100 py-1 px-2 rounded inline-block "
                    >
                      {{ data.about.bio }}
                    </p>
                    <br />
                    <div class="mt-4">
                      <span
                        class="mx-1 rounded-full text-center border-gray-200 text-red-800 border py-1 px-2"
                        *ngFor="let item of data.about.foodType"
                        >{{ item }}</span
                      >
                    </div>
                  </div>
                  <p
                    class="my-4 text-sm bg-green-100 p-2 rounded hover:shadow-sm cursor-pointer inline-block"
                  >
                    We have voted {{ data.about.votes }} by people
                  </p>
                  <div class="my-4 w-64 p-4 shadow-lg">
                    <div class="p-2">
                      <p class="text-gray-600">Call:</p>
                      <p class="text-red-600">+919748133415</p>
                      <p class="text-red-600">+919748133415</p>
                    </div>
                    <img
                      class="w-full py-4"
                      src="https://maps.zomato.com/php/staticmap?center=22.7242800127,88.4828245640&maptype=zomato&markers=22.7242800127,88.4828245640,pin_res32&sensor=false&scale=2&zoom=16&language=en&size=240x150&size=400x240&size=650x250"
                      alt=""
                    />
                    <p>{{ data.address.street }} , {{ data.address.area }}</p>
                    <div class="mt-3">
                      <span class="border border-red-400 px-2 py-1 rounded-full"
                        >✔ Copy</span
                      >
                      <span
                        class="border border-red-400 ml-1 px-2 py-1 rounded-full"
                        >🛴 Directions</span
                      >
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Order Online">
                <div class="m-2">
                  <div class="flex w-full flex-wrap flex-row justify-between">
                    <div class="m-auto flex flex-col flex-wrap text-center">
                      <div class="text-2xl text-left ">Order Online</div>
                      <div class="flex flex-wrap flex-row">
                        <div
                          class="text-left mr-2 m-auto text-gray-600 text-sm "
                        >
                          🕑 Live track your order clock
                        </div>
                        <div class="text-left mr-2 m-auto">|</div>
                        <div class="text-left mr-2 text-gray-500 m-auto">
                          42 mins
                        </div>
                      </div>
                    </div>
                    <div class="m-auto text-center">
                      <form class="example-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>Search by menus</mat-label>
                          <input
                            type="text"
                            matInput
                            placeholder="Chicken Biryani"
                          />
                          <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                      </form>
                    </div>
                  </div>
                  <div class="mt-4">
                    <div class="p-2 text-white bg-google-blue rounded-lg">
                      <div class="ml-3 font-sans ">
                        🏁 Delivering food to
                        <span class="font-bold ">Barasat, Kolkata</span>
                      </div>
                    </div>
                  </div>

                  <div class="mt-4 mb-4">
                    <div class="flex flex-row flex-wrap justify-evenly">
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>40% OFF</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              Use FOODKA <br />
                              to avail offer
                            </div>
                          </div>
                        </div>
                      </button>
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>10% OFF</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              On orders <br />
                              worth ₹149 and ...
                            </div>
                          </div>
                        </div>
                      </button>
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>₹200 CB</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              Use code AMEX200 <br />
                              to Avail...
                            </div>
                          </div>
                        </div>
                      </button>
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>30% OFF</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              Use code <br />
                              HOLIPARTY to ava...
                            </div>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                  <div class="mt-4">
                    <mat-checkbox value="veg" color="primary"
                      >Veg only</mat-checkbox
                    >
                  </div>

                  <div class="mt-4">
                    <div class="text-xl text-black">Bestsellers</div>
                  </div>

                  <div class="mt-4">
                    <app-foodCard></app-foodCard>
                    <!-- <app-foodCard></app-foodCard>
                      <app-foodCard></app-foodCard> -->
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Non-veg"> <div class="m-2">
                  <div class="flex w-full flex-wrap flex-row justify-between">
                    <div class="m-auto flex flex-col flex-wrap text-center">
                      <div class="text-2xl text-left ">Order Online</div>
                      <div class="flex flex-wrap flex-row">
                        <div
                          class="text-left mr-2 m-auto text-gray-600 text-sm "
                        >
                          🕑 Live track your order clock
                        </div>
                        <div class="text-left mr-2 m-auto">|</div>
                        <div class="text-left mr-2 text-gray-500 m-auto">
                          42 mins
                        </div>
                      </div>
                    </div>
                    <div class="m-auto text-center">
                      <form class="example-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>Search by menus</mat-label>
                          <input
                            type="text"
                            matInput
                            placeholder="Chicken Biryani"
                          />
                          <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                      </form>
                    </div>
                  </div>
                  <div class="mt-4">
                    <div class="p-2 text-white bg-google-blue rounded-lg">
                      <div class="ml-3 font-sans ">
                        🏁 Delivering food to
                        <span class="font-bold ">Barasat, Kolkata</span>
                      </div>
                    </div>
                  </div>

                  <div class="mt-4 mb-4">
                    <div class="flex flex-row flex-wrap justify-evenly">
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>40% OFF</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              Use FOODKA <br />
                              to avail offer
                            </div>
                          </div>
                        </div>
                      </button>
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>10% OFF</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              On orders <br />
                              worth ₹149 and ...
                            </div>
                          </div>
                        </div>
                      </button>
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>₹200 CB</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              Use code AMEX200 <br />
                              to Avail...
                            </div>
                          </div>
                        </div>
                      </button>
                      <button (click)="openOfferDeatails()">
                        <div class="text-center border rounded-lg ">
                          <div class="flex flex-row flex-wrap justify-between">
                            <div class="m-auto w-6 text-red-500 m-1 ">
                              <div>30% OFF</div>
                            </div>
                            <div
                              class="m-auto text-center p-1 bg-gray-100 text-xs ml-4"
                            >
                              Use code <br />
                              HOLIPARTY to...
                            </div>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                  <div class="mt-4">
                    <mat-checkbox value="Non veg" color="primary"
                      >Non-veg only</mat-checkbox
                    >
                  </div>
                  <div class="mt-4">
                    <app-nonVegFoodCard></app-nonVegFoodCard>
                  </div>
                </div></mat-tab>
              <mat-tab label="Reviews"> Reviews Content </mat-tab>
              <mat-tab label="Photos"> 
              
                <div>
                  <div class="photoList flex flex-wrap">
                    <img class="m-2 rounded-lg" src="https://b.zmtcdn.com/data/pictures/chains/9/18560739/51e5ffbda6470dff2ffe4736f958e853.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A" alt="">
                    <img class="m-2 rounded-lg" src="https://b.zmtcdn.com/data/reviews_photos/2d6/4dc1433d5fe74d0d2f78d5508f4942d6_1574421707.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A" alt="">
                    <img class="m-2 rounded-lg" src="https://b.zmtcdn.com/data/pictures/0/18354590/3155733cc9eac588dc345ba36ced87db.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A" alt="">
                    <img class="m-2 rounded-lg" src="https://b.zmtcdn.com/data/reviews_photos/bf2/9bced490a018b3befaaac61b7f8e6bf2_1567707838.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A" alt="">
                    <img class="m-2 rounded-lg" src="https://b.zmtcdn.com/data/reviews_photos/475/32ba572c6e7ba51f07ffaa3141215475_1535723447.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A" alt="">
                  </div>
                </div>
                
              </mat-tab>
            </mat-tab-group>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>
