section
{
  display: block;
}

.banner
{
  display: flex;
  height: 28rem;
  width: 100%;
  background: rgb(255, 143, 143);
}
.img_col_1
{
  min-width: 62.4%;
    max-width: 100%;
    width: 62.4%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0px;
    overflow: hidden;
}
._img1
{
  position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.__img1{
  width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    border-radius: 2px;
    transition: 0.5s all ease-in-out;
}
.__img1:hover
{
  transform: scale(1.2);
}